/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Arial", Helvetica, sans-serif;
}

h1 {
  font-size:175%;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #008080;
}

p {
  margin: 0px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 30px;
  box-sizing: content-box;
}

a {
  font-size:125%;
  border:1px solid black;
  padding-bottom: 1px;
  padding-top: 1px;
  float:right;
  width: 100px;
  position:relative;
  top: 0px;
  margin: 0px;
  text-align: center;
  color: white;
  font-style: italic;
  font-weight: bold;
}

.title1 {
 background-color: #008B8B;
 color: white;
}

.section1 {
  padding:0;
    border: 1px solid black;
    margin: 15px;
  background-color: #B0C4DE;
}

.title2 {
 background-color: #FF4500;
 color: white;
}

.section2 {
  padding:0;
    border: 1px solid black;
    margin: 15px;
  background-color: #FFA500;
}

.title3 {
 background-color: #2F4F4F;
 color: white;
}

.section3 {
  padding:0;
    border: 1px solid black;
    margin: 15px;
  background-color: #8FBC8F;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  margin-left: 10;
}

.section {
    padding:0;
    border: 1px solid black;
    margin: 15px;
}

a:hover, a:active {
  background-color: red;
  color: purple;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
 
   .col-lg-4 {
    width: 33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  * {
    box-sizing: border-box;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  
  .col-sm-12 {
    width: 100%;
  }
}